@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #2B2730; 
  padding: 15px 40px; 
  display: flex;
  justify-content: center;
}

.navbar-links {
  display: flex;
  gap: 30px; 
}

.navbar-links a {
  text-decoration: none;
  color: #F0F3FF; 
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-links a.active {
  color: #9575DE; 
}


