.homepage {
  background-color: #ffffff;
  padding: 40px;
  min-height: 100vh;
}

.homepage-header {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 25px;
  color: #3D3240;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #3D3240;
  border-radius: 5px;
  width: 400px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #9575DE;
  border: none;
  color: #F0F3FF;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #7E56B0;
}


